ion-card{
  position: relative;
    border-radius: 12px;
    border-color: blueviolet;
    border-style: groove;
    justify-content: center;
    align-items:center;
    width: 250px;
    height: 150px;
    font-size: 12px;
    box-shadow: #fff;
    padding: auto;
  }
  ion-text{
    color: rgb(34, 7, 104)
  }
  span{
    color: black;
    font-weight: 200;
  }
  // ion-item{
  //   background-color: #fff;
  // }
  ion-content{
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: bold;

  }
  h6{
    font-style: normal;
    font-weight: bold;
  }