<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fournisseurs</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="goToAddForm()">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Ajouter
  </ion-button>

  <ion-card *ngFor="let fournisseur of fournisseurs">
    <ion-card-content>
      <div class="card-header">
        <div class="header-left">
          <ion-text color="primary">
            <h6 class="large-bold-text">
              <ion-icon name="person"></ion-icon> Nom: <span>{{ fournisseur.fournName }}</span>
            </h6>
          </ion-text>
        </div>
        <div class="header-right">
          <!-- <ion-text>
            <ion-icon *ngFor="let star of [1,2,3,4,5]; let i = index"
                      name="star" [color]="i < fournisseur.note ? 'warning' : 'medium'"></ion-icon>
          </ion-text> -->
        </div>
      </div>

      <ion-text color="primary">
        <h6 class="large-bold-text">
          <ion-icon name="location"></ion-icon> Adresse: <span>{{ fournisseur.adresse }}</span>
        </h6>
      </ion-text>

      <ion-text color="primary">
        <h6 class="large-bold-text">
          <ion-icon name="call"></ion-icon> Téléphone: <span>{{ fournisseur.telephone }}</span>
        </h6>
      </ion-text>

      <ion-text color="primary">
        <h6 class="large-bold-text">
          <ion-icon name="briefcase"></ion-icon> Service: <span>{{ fournisseur.service }}</span>
        </h6>
      </ion-text>

      <!-- <ion-item>
        <ion-label position="floating">Commentaire</ion-label>
        <ion-textarea rows="1" [(ngModel)]="fournisseur." placeholder="Ajouter un commentaire"></ion-textarea>
      </ion-item> -->

      <div class="action-buttons-container">
        <button mat-button (click)="goToCommentForm(fournisseur.id)">
          Ajouter Commentaire
        </button>
        <ion-button fill="clear" color="secondary" (click)="openImageModal(fournisseur)" disabled>
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </ion-button>
        <ion-item lines="none" class="no-padding">
          <ion-toggle (ionChange)="confirmToggle(fournisseur)" [checked]="fournisseur.statut === 'PUBLIC'"></ion-toggle>
        </ion-item>
        <ion-button fill="clear" color="primary" (click)="editFournisseur(fournisseur.id)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="deleteFournisseur(fournisseur)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
    <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
      <ion-header>
        <ion-toolbar>
          <ion-title>Image du Fournisseur</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <img [src]="imageUrl" alt="Image du Fournisseur" style="width: 100%; height: auto;" />
      </ion-content>
    </ion-modal>
  </ion-card>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ion-header>
      <ion-toolbar>
        <ion-title>Image du Fournisseur</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <img [src]="imageUrl" alt="Image du Fournisseur" style="width: 100%; height: auto;" />
    </ion-content>
  </ion-modal>

</ion-content>
