ion-item {
  ion-input {
    --border-radius: 19px;
    --border-width: 1px;
    --border-color: #050f36;

  }


  &.ion-margin-bottom {
    margin-bottom: 20px;
    margin-top: 16px;
  }
}
ion-header + ion-content {
  margin-top: 160px;
}
ion-content {
  --padding-bottom: 56px;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-button {
  margin: 4px;
}

