// .container{
//     border: solid 2px rgba(37, 29, 115, 0.28);
//     border-radius: 10px;
//     margin: 8px;
//     height: 20vh;
//     margin-top: 30px;
    
// }
// h1{
//     color: black;
//     font-family: 'Poppins', sans-serif;
//     font-size: 25px;
//     font-weight: bold;
//     text-align: center;
// }

// .entA{
//     font-family: 'Poppins', sans-serif;
//     font-weight: bold;
//     text-align: center;
//     font-size: 16px;
//     color: black;
//     position: absolute;
//     right: 65%;
//     margin-top: 55px;

    
// }



/* src/app/components/entrepot-list/entrepot-list.component.scss */
.entrepot-card {
    border: solid 2px rgba(37, 29, 115, 0.28);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .entrepot-info h2 {
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     text-align: center;
     font-size: 16px;
     color: black;
     position: absolute;
     left: 6%;
     margin-top: 80px;
  }
  
  .map-container {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    
  }

  h1{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
   }
  