<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bon-entree">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Bon d'entrée</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bon-sortie">
      <ion-icon name="exit-outline"></ion-icon>
      <ion-label>Bon de sortie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produit">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Produit</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
