ion-card{
    position: relative;
      border-radius: 12px;
      border-color: rgb(29, 4, 53);
      border-style: groove;
      justify-content: center;
      align-items:center;
    }
    .card-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    
    ion-card {
      width: 100%;
      max-width: 500px;
      margin: 10px;
    }
    
    .large-bold-text {
      font-size: 1.4rem; 
      font-weight: 800;  
    }
    
    @media (min-width: 768px) {
      .card-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    
      ion-card {
        width: 45%;
      }
    }
    
    span{
      color: rgb(4, 4, 6);
      font-size: 1.4rem;
      font-weight: 800;
    }
  
    h6{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      position: relative;
      margin-top: 5px;
    }
  