<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fournisseurs Espace</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fournisseurs Espace</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="section-title">
    <h2>Espace Fournisseur</h2>
  </div>

  <div class="content-wrapper">
    <!-- Utilisation de *ngFor pour itérer sur la liste des fournisseurs -->
    <ion-card *ngFor="let fournisseur of fournisseurs">
      <ion-card-header>
        <div class="ok">
          <ion-card-title class="title">{{ fournisseur.fournName }}</ion-card-title>
          <ion-card-subtitle class="star-rating">
            <ion-icon *ngFor="let star of getStars(fournisseur.noteMoyenne || 0)" name="star"></ion-icon>
            <ion-icon *ngFor="let star of getEmptyStars(fournisseur.noteMoyenne || 0)" name="star-outline"></ion-icon>
          </ion-card-subtitle>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p class="margin"> <strong> {{ fournisseur.service }}</strong></p>
        <div class="ok">
          <p><ion-icon name="mail-outline"></ion-icon><strong> {{ fournisseur.email }} </strong></p>
          <p><ion-icon name="call-outline"></ion-icon> <strong>{{ fournisseur.telephone }}</strong></p>
        </div>
        <div class="commentaire">
          <strong> {{ fournisseur.commentaire }} </strong>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


